Dictionary
Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'sasi' , 'age' : 38 , 'gender' : 'male' }

Characterstics:

Mutable
Indexing has no meaning
keys can't be duplicated
keys can't be mutable items

In [5]:
# empty dictionary
d = {}
d
# mutable items as keys

{'name': 'sasi', 'age': 38}

In [6]:
# 1D dictionary
d1 = {'name':'sasi'}
d1

{'name': 'sasi'}

In [7]:
# with mixed keys
d2 = {'name':'sasi','age': 38}
d2

{'name': 'sasi', 'age': 38}

In [8]:
d3  = {(1,2,3):1,'hello':'world'}
d3

{(1, 2, 3): 1, 'hello': 'world'}

In [9]:
# 2D dictionary

s = {
    'name':'sasi',
    'college':'jnu',
    'sem':4,
    'subject':{
        'dsa':50,
        'maths':67,
        'english':34
    }
}
s

{'name': 'sasi',
 'college': 'jnu',
 'sem': 4,
 'subject': {'dsa': 50, 'maths': 67, 'english': 34}}

In [10]:
# using sequence and dict function

sd = dict([(1,1),(2,2),(3,3)])
sd

{1: 1, 2: 2, 3: 3}

In [11]:
# duplicate keys

d5  = {'name':'sasi','name':'divya'}
d5

{'name': 'divya'}

In [12]:
d6 = {'name':'sasi',(1,2,3):2}
d6

{'name': 'sasi', (1, 2, 3): 2}

Accessing Items

In [13]:
my_dict = {'name':'sasi','age': 38}

my_dict['age']

38

In [14]:
my_dict.get('age')

38

In [ ]:
#Adding key_value pair

In [17]:
my_dict['gender'] = 'male'

In [18]:
my_dict['weight'] = 97

In [19]:
my_dict

{'name': 'sasi', 'age': 38, 'gender': 'male', 'weight': 97}

Remove key_value pair

In [22]:
# pop
d = {'name': 'sasi', 'age': 38, 3:3,'gender': 'male', 'weight': 97}
d.pop(3)
# popitem
d.popitem()
# del
# clear

('weight', 97)

In [23]:
del d['name']

In [24]:
d

{'age': 38, 'gender': 'male'}

In [26]:
#2D
s = {
    'name':'sasi',
    'college':'jnu',
    'sem':4,
    'subject':{
        'dsa':50,
        'maths':67,
        'english':34
    }
}
s

{'name': 'sasi',
 'college': 'jnu',
 'sem': 4,
 'subject': {'dsa': 50, 'maths': 67, 'english': 34}}

In [27]:
s['subject']['maths']

67

In [28]:
s['subject']['dsa'] = 78

In [29]:
s

{'name': 'sasi',
 'college': 'jnu',
 'sem': 4,
 'subject': {'dsa': 78, 'maths': 67, 'english': 34}}

Editing key-value pair

In [30]:
s

{'name': 'sasi',
 'college': 'jnu',
 'sem': 4,
 'subject': {'dsa': 78, 'maths': 67, 'english': 34}}

In [31]:
s['sem'] = 5

In [32]:
s['subject']['dsa'] = 90

In [33]:
s

{'name': 'sasi',
 'college': 'jnu',
 'sem': 5,
 'subject': {'dsa': 90, 'maths': 67, 'english': 34}}

Dictionary Operations
Membership
Iteration

In [37]:
print(s)

'name' in s

{'name': 'sasi', 'college': 'jnu', 'sem': 5, 'subject': {'dsa': 90, 'maths': 67, 'english': 34}}

True

In [39]:
d = {'name':'sasi','gender':'male','age':38}

for i in d:
    print(i,d[i])

name sasi
gender male
age 38

In [40]:
len(d)

3

In [41]:
sorted(d)

['age', 'gender', 'name']

Items/keys/values

In [44]:
print(d.items())

dict_items([('name', 'sasi'), ('gender', 'male'), ('age', 38)])

In [45]:
print(d.keys())

dict_keys(['name', 'gender', 'age'])

In [46]:
print(d.values())

dict_values(['sasi', 'male', 38])

In [52]:
for i in d.items():
    print(i)

('name', 'sasi')
('gender', 'male')
('age', 38)


Dictionary Comprehension

In [53]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [56]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}

{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [58]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [60]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{i:j for (i,j) in products.items() if j > 0}

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4

In [62]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}