In [20]:
#List

In [21]:
lis = [1,2,3]
print(lis)

[1, 2, 3]

#What are lists?

Array Vs List
list acts like dynamic array
Array is Fixed
fixed vs dynamic
arrays are homogneous while list is hetergeneous
speed of extension
memory

Referential array address is stored pointers

In [22]:
l = [20,'jess',35.75,[30,60,90]]

l

[20, 'jess', 35.75, [30, 60, 90]]

In [23]:
for i in l:
    print(l[3])
    break

[30, 60, 90]

In [24]:
a = 2
print(id(2))

9801280

In [25]:
l = [1,2,3]
print(id(l))
print(id(l[0]))
print(id(l[1]))
print(id(l[2]))

140330886184000
9801248
9801280
9801312

Characteristics of List

Ordered
Changeable/Mutable
Heterogeneous
Can have duplictaes
are dynamic
can be nested
items can be accessed
can contain any kind of objects in python

Creating a List

In [26]:
#Empty list

print([])

[]

In [27]:
#1d
print([1,2,3])

[1, 2, 3]

In [28]:
#2d
print([[1,2,3,4,5,[6,7]]])

[[1, 2, 3, 4, 5, [6, 7]]]

In [29]:
#3d
print([[[1,2,3,[4,5]]]])

[[[1, 2, 3, [4, 5]]]]

In [30]:
#heterogeneous 
print([1,True,5.6,'hello'])

[1, True, 5.6, 'hello']

In [31]:
#using Type conversion...
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

Accessing Items from a List

In [32]:
#Indexing
l = [1,2,3,4,5]

print(l[0])
print(l[-1])
print(l[-3])

1
5
3

In [33]:
#2dIndexing
l = [1,2,3,[4,5,6]]

print(l[-1])
print(l[-1][0])

[4, 5, 6]
4

In [34]:
l = [[[1,2],[3,4],[[5,6],[7,8]]]]
l[0][2]

[[5, 6], [7, 8]]

In [35]:
#slicing
l = [1,2,3,4,5,6]
print(l[-3:-1])
print(l[-3:])
print(l[0::2])
print(l[::-1])

[4, 5]
[4, 5, 6]
[1, 3, 5]
[6, 5, 4, 3, 2, 1]

Adding Items to a list

In [36]:
#append

l = [1,2,3,4,5,6]

l.append(6)

l.append([8,9,10])

l

[1, 2, 3, 4, 5, 6, 6, [8, 9, 10]]

In [37]:
#extend

l = [1,2,3,4,5]

l.extend([6,7,8])

l.extend('sasi')
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 's', 'a', 's', 'i']

In [38]:
# insert

l = [1,2,3,4,5,6]

l.insert(1,100)
print(l)

[1, 100, 2, 3, 4, 5, 6]

Editing List

In [39]:
#Editing with Indexing
l = [1,2,3,4,5,6]
l[-1] = 500

#editing with slicing

l[1:4] = [200,300,400]

print(l)

[1, 200, 300, 400, 5, 500]

Deletion of the List

In [40]:
#del

l = [1,2,3,4,5,6]
print(l)

del l[-1]

#slicing 

del l[1:3]

print(l)

[1, 2, 3, 4, 5, 6]
[1, 4, 5]

In [41]:
#remove

l = [1,2,3,4,5]

l.remove(5)

print(l)

[1, 2, 3, 4]

In [42]:
#pop

l = [1,2,3,4,5,6]

l.pop(0)

print(l)

[2, 3, 4, 5, 6]

In [43]:
#clear

l = [1,2,3,4,5,6]

l.clear()

print(l)

[]

Operations List

Arithmetic
Membership
Loop

In [44]:
#Arithmetic (+,*)

l1 = [1,2,3,4]
l2 = [5,6,7,8]

print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [45]:
l1 = [1,2,3,4]

print(l1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [46]:
#membership operator

l1 = [1,2,3,4]
l2 = [6,7,8,[1,2,5,4]]

print(5 not in l)
print(5 in l2)

True
False

In [47]:
#loops

l1 = [1,2,3,4]
l2 = [5,6,7,8,[7,8]]

for i in l1:
    print(i)

1
2
3
4

In [48]:
l = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in l:
    print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

In [49]:
#len/min/max/sorted

l = [1,2,3,4,5,9]
print(len(l))
print(min(l))
print(max(l))
print(sorted(l,reverse=True))

6
1
9
[9, 5, 4, 3, 2, 1]

In [50]:
#count
l = [1,2,3,4,5,6,7,8]
l.count(5)

1

In [51]:
#indexing
l = [1,2,3,4,5,6,7,8]
l.index(5)

4

In [52]:
#reverse

l = [1,2,3,4,5,6,7,8]
#permenently reverses the list
l.reverse()
print(l)

[8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
#sorted

l = [9,2,8,4,5,6,7]
print(l)
print(sorted(l))
print(l)
l.sort()
print(l)

[9, 2, 8, 4, 5, 6, 7]
[2, 4, 5, 6, 7, 8, 9]
[9, 2, 8, 4, 5, 6, 7]
[2, 4, 5, 6, 7, 8, 9]

In [54]:
#copy

l = [1,2,3,4,5,6,7,8]

print(id(l))

l1 = l.copy()

print(l1)

print(id(l1))

140330888883072
[1, 2, 3, 4, 5, 6, 7, 8]
140330888873088

List Comprehension

newlist = [expression for item in iterable if condition == True]

In [55]:
#add 1 to 10 numbers to a list

l = []

for i in range(1,10):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
ls = [i for i in range(1,11)]
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
v = [2,3,4]

s = -3
x = []
for i in v:
    x.append(i*s)
print(x)

[-6, -9, -12]

In [58]:
[s*i for i in v]

[-6, -9, -12]

In [59]:
#Add Squeres

l = [1,2,3,4,5]

[i**2 for i in l]

[1, 4, 9, 16, 25]

In [60]:
#print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [61]:
#find langauges which start with letter p

lang = ['java','python','php','c','javascript']

[i for i in lang if i.startswith('p')]

['python', 'php']

In [62]:
#Nested if with list comprehension

basket = ['apple','gauva', 'cherry', 'banana']

my_fruits = ['apple','kiwi','grapes','banana']

#add new list from my_fruits and items if the fruits exists in basket and also start with 'a'


[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [63]:
#print a (3,3) matrix using list comprehenstion -> Nested List Comprehenstion

[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [64]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j, end='')
    print()

1
12
123
1234

In [65]:
a = [print(j, end='') for i in range(1,5) for j in range(1,4)]

123123123123

In [66]:
#cartesian product -> List comprehenstion on 2 lists together

l1 = [1,2,3,4]
l2 = [5,6,7,8]

[i*j for i in l1 for j in l2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [67]:
#itemwise

l = [1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [68]:
#Indexwise

l = [1,2,3,4,5]
for i in range(len(l)):
    print(i)

0
1
2
3
4

In [69]:
print('hello world')

hello world

In [77]:
l1 = [1,2,3,4]
l2 = [-1,-2,-3,-4]

l3 = []

[i+j for i,j in zip(l1,l2)]

[0, 0, 0, 0]

In [79]:
for i,j in zip(l1,l2):
    l3.append(i+j)

print(l3)

[1, 2, 3, 4, 0, 0, 0, 0]

In [80]:
l = [1,2,print,type,input]

print(l)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7fa1664c81f0>>]

Disadvantage of Python Lists

Slow
Risky usage
eats up more memory

In [81]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]