In [52]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

Importing Pandas

In [37]:
# string

country = ['India','Pakistan','USA','Nepal','Srilanka']

country = pd.Series(country)
country

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [23]:
# integers

runs = [13,24,56,78,100]

runs_ser = pd.Series(runs)
runs_ser

0     13
1     24
2     56
3     78
4    100
dtype: int64

In [24]:
# custom index

marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']

pd.Series(marks,index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [27]:
# setting a name
marks = pd.Series(marks,index=subjects,name = "Shahsi's Marks")
marks

maths       67
english     57
science     89
hindi      100
Name: Shahsi's Marks, dtype: int64

Series from Dict

In [30]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks,name="Shashi's marks")
marks_series

maths       67
english     57
science     89
hindi      100
Name: Shashi's marks, dtype: int64

Series Attributes

In [39]:
# size

marks_series.size

4

In [40]:
country.size

5

In [41]:
#dtype

marks_series.dtype

dtype('int64')

In [42]:
# name

marks_series.name

"Shashi's marks"

In [44]:
# is unique

marks_series.is_unique

True

In [45]:
pd.Series([1,2,3,4,5,5]).is_unique

False

In [46]:
# index

marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [47]:
runs_ser.index

RangeIndex(start=0, stop=5, step=1)

Series using read_csv

In [53]:
# with one col

subs = pd.read_csv('datas/subs.csv',squeeze=True)
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [59]:
vk = pd.read_csv('datas/kohli_ipl.csv',index_col='match_no',squeeze=True)
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [63]:
movies = pd.read_csv('datas/bollywood.csv',index_col='movie',squeeze=True)
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

Series methods

In [64]:
# head and tail

subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [65]:
vk.head(3)

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [67]:
vk.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [68]:
#sample

movies.sample(5)

movie
The Dirty Picture           Vidya Balan
1920: London              Sharman Joshi
Main Aurr Mrs Khanna        Salman Khan
Baaz: A Bird in Danger    Jackie Shroff
Sholay                    Sanjeev Kumar
Name: lead, dtype: object

In [69]:
# values_counts -> movies

movies.value_counts()

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64