# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [ ]:
#Creating Sets

In [7]:
#empty
s = set()
s
print(type(s))

<class 'set'>

In [8]:
#1D

s = {1,2,3}
s

{1, 2, 3}

In [10]:
#2D
s1 = {1,2,3,(1,2,3)}
s1

{(1, 2, 3), 1, 2, 3}

In [12]:
s3 = {1,'Hello',4.5,True} # 1 == True
s3

{1, 4.5, 'Hello'}

In [14]:
s4 = set([1,2,3])
s4

{1, 2, 3}

In [15]:
s5 = {1,1,1,2,3,3,3}
s5

{1, 2, 3}

In [18]:
s1 = {1,2,3}
s2 = {3,2,1}
print(s1==s2)

True

Accessing items

In [ ]:
s1 = {1,2,3,4,5}
s[0] #not allowed

In [21]:
s1 = {1,2,3}
#s1[0] = 100 #not allowed

Adding Items

In [22]:
s = {1,2,3,4,5}
s.add(9)
print(s)

{1, 2, 3, 4, 5, 9}

In [23]:
s.update([8,9,7])
print(s)

{1, 2, 3, 4, 5, 7, 8, 9}

Deleting Items

In [26]:
#del 
s9 = {1,2,3,4,6,7}
print(s9)
#del s9

{1, 2, 3, 4, 6, 7}

In [28]:
s9.discard(7)
s9

{1, 2, 3, 4, 6}

In [31]:
s9.remove(1) #remove throw an error if item isnt there
print(s9)

{2, 3, 4, 6}

In [32]:
s9.pop()

2

In [33]:
s9

{3, 4, 6}

In [34]:
s9.clear()

In [35]:
s9

set()

Set operation

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

#union
s1 | s2

In [36]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

#union
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
#intersection
s1 & s2

{4, 5}

In [38]:
#Differenec

s1 - s2

{1, 2, 3}

In [39]:
#Symmetric Difference

s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [40]:
#Membership test

1 in s1

True

In [41]:
#Interation 
for i in s1:
    print(i)

1
2
3
4
5

In [43]:
s = {3,1,4,6,8,9,6,7}

len(s)
sum(s)
min(s)
max(s)
sorted(s)

[1, 3, 4, 6, 7, 8, 9]