Tuples


Ordered
Unchangeable
Allow duplicates

In [2]:
#empty

t1 = ()
print(t1)

()

In [4]:
#create a tuple with a single item
t2 = (2,)

print(t2)

(2,)

In [5]:
t3 = (12,3,4)
print(t3)

(12, 3, 4)

In [6]:
t4 = (1,2,4,True,[1,2,4])
t4

(1, 2, 4, True, [1, 2, 4])

In [7]:
t5 = (1,2,3,(4,5))
t5

(1, 2, 3, (4, 5))

In [8]:
t6 = tuple('hello')

t6

('h', 'e', 'l', 'l', 'o')

In [ ]:
#Accessing Items

Indexing
Slicing

In [10]:
t3[0]

12

In [11]:
print(t5[-1])

(4, 5)

In [12]:
print(t3[0:2:2])

(12,)

In [13]:
print(t3[::-1])

(4, 3, 12)

In [14]:
t5

(1, 2, 3, (4, 5))

In [15]:
t5[-1][0]

4

In [ ]:
#Editing Items

In [ ]:
#Adding Items

Not Possible tuple is immutable

In [ ]:
#Deletion

In [17]:
t9 = (1,2,3,4,5,5)

In [18]:
del t9

In [20]:
t = (1,2,3,4,5,6)

t[-1:-4:-1]

(6, 5, 4)

Operations on Tuple

In [ ]:
# + and -
#membership
#Iteration

In [21]:
t1 = (1,1,2,3,4)
t2 = (5,6,7,8)

t1+t2

(1, 1, 2, 3, 4, 5, 6, 7, 8)

In [23]:
t1*3

(1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4)

In [24]:
1 in t1

True

In [25]:
for i in t1:
    print(i)

1
1
2
3
4

Tuple Function

In [26]:
t  = (1,2,3,4)

len(t)

4

In [27]:
sum(t)

10

In [28]:
min(t)

1

In [29]:
max(t)

4

In [31]:
sorted(t,reverse=True)

[4, 3, 2, 1]

In [33]:
#count

t = (1,2,3,4,5,6)

t.count(6)

1

In [34]:
#index

In [36]:
t.index(3)

2

Difference between Lists and Tupls

Syntax
Mutability
Speed
Memory
Built in functionality
Error prone
Usability

In [2]:
import time 

L = list(range(100))
T = tuple(range(100))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 6.771087646484375e-05
Tuple time 6.222724914550781e-05

In [3]:
import sys

L = list(range(100))
T = tuple(range(100))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 856
Tuple size 840

In [4]:
a = [1,2,3]
b = a

a.append(4)
print(a)

[1, 2, 3, 4]

In [5]:
a = (1,2,3)
b = a

b.append(5)
print(b)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
#Why Use tuple

a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [9]:
a,_ = (1,2)

print(_)

2

In [10]:
a = 1
b =2 
a,b = b,a
print(a,b)

2 1

In [12]:
a,b, *others = (1,2,3,4,5,6)

print(others)

[3, 4, 5, 6]

In [14]:
#zipping tuples

a = (1,2,3,4,5)
b = (6,7,8,9,10)
list(zip(a,b))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]